h1 {
  position: static;
  color: #000000;
  text-align: center;
  text-shadow: 3px 3px #5f8eb4;
  margin-top: auto;
}

#mainCanvas, #bg {
  border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);   
  border-radius: 10px; 
}

#bg {
  opacity: .35;
  width: 1200px;
  height: 700px
}

.item {
  position: relative;
  text-align: right;
  margin-right: 150px;
  visibility: hidden;
}

.character-information {
  position: relative;
  text-align: right;
  margin-right: 80px;
  visibility: hidden;
}

.instructions {
  margin-left: 20px;
  // visibility: hidden;
}

.instructions > label {
  border: 5px solid white;
  font-size: x-large;
  display: flex;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.589);
  width: 200px;
  margin-left: 45px;
}

.socials {
  margin-top: 200px;
  margin-left: 875px;
}

#linkedin {
  background-size: cover;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  bottom: auto;
}

#github {
  background-size: cover;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#angellist {
  background-size: cover;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

// @media only screen and (max-height: 740px) {

//   canvas, #bg , .instruction{
//     width: 400px;
//     height: 400px;
//     position: relative;
//     display: block;
//     padding: .4em .4em;
//     @include canvasborder( 4px, #EAB464, #8D98A7 );
//   }

//   canvas, .instruction {
//     margin-top: -433px;
//     // @include canvasborder( 4px, #EAB464, #8D98A7 );
//   }

//   .start > p.begin {
//   color: black;
//   position: relative;
//   top: 140px;
//   left: 130px;
//   padding: 20px;
//   background-color: rgb(163, 163, 163);
//   @include title( 4px,#A7754D, #FED9B7 );
//   cursor: pointer;
//   z-index: 3;
//   }

// }