body {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: url("../src/assets/background.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background-color: rgb(31, 31, 31);
  // .left {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 18vw;
  //   min-width: 338px;
  //   img {
  //     width: 314px;
  //     height: 83px;
  //   }
  //   label {
  //     border: 5px solid white;
  //     font-size: x-large;
  //     display: flex;
  //     text-align: center;
  //     // background-color: rgba(245, 245, 245, 0.589);
  //     width: 200px;
  //     margin-left: 45px;
  //   }
  // }
  
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1315px;
    width: 1200px;
  
    .canvas-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 1200px;
      #mainCanvas {
        border: 5px solid white;
        position: absolute;
        // transform: translate(-50%, -50%);
        border-radius: 10px; 
        min-width: 1200px;
        // height: 700px
        // z-index: 100;
      }
      #fog {
        border: 5px solid white;
        position: absolute;
        // transform: translate(-50%, -50%);
        border-radius: 10px; 
        min-width: 1200px;
        // height: 710px
      }
      #dark {
        border: 5px solid white;
        position: absolute;
        // transform: translate(-50%, -50%);
        border-radius: 10px; 
        min-width: 1200px;
        // height: 710px
      }
      #bg {
        min-width: 1200px;
        width: 1200px;
        height: 700px;
        opacity: .5;
      }
    }
    .socials {
      margin-top: 20px;
      #linkedin {
        background-size: cover;
        border-radius: 3px;
        width: 40px;
        height: 30px;
        cursor: pointer;
      }
      #github {
        background-size: cover;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      #angellist {
        background-size: cover;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
  
  // .right {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 230px;
  //   min-width: 12vw;
  //   .item {
  //     text-align: right;
  //     // visibility: hidden;
  //   }
  //   .character-information {
  //     text-align: right;
  //     // visibility: hidden;
  //   }
  // }

}


// @media only screen and (max-height: 740px) {

//   canvas, #bg , .instruction{
//     width: 400px;
//     height: 400px;
//     position: relative;
//     display: block;
//     padding: .4em .4em;
//     @include canvasborder( 4px, #EAB464, #8D98A7 );
//   }

//   canvas, .instruction {
//     margin-top: -433px;
//     // @include canvasborder( 4px, #EAB464, #8D98A7 );
//   }

//   .start > p.begin {
//   color: black;
//   position: relative;
//   top: 140px;
//   left: 130px;
//   padding: 20px;
//   background-color: rgb(163, 163, 163);
//   @include title( 4px,#A7754D, #FED9B7 );
//   cursor: pointer;
//   z-index: 3;
//   }

// }