body {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: url("../src/assets/background.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background-color: rgb(31, 31, 31);
  
  //  fun question what did you do for break

  .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    width: 1200px;
  
    .canvas-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 1200px;
      #mainCanvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid white;
        position: absolute;
        border-radius: 10px; 
        min-width: 1200px;
      }
      #fog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid white;
        position: absolute;
        border-radius: 10px; 
        min-width: 1200px;
      }
      // #ui {
      //   border: 5px solid white;
      //   position: absolute;
      //   // transform: translate(-50%, -50%);s
      //   border-radius: 10px; 
      //   min-width: 1200px;
      //   // height: 710px
      // }
      #bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 1200px;
        width: 1200px;
        height: 700px;
        opacity: .25;
      }
    }
    .socials {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      a {
        padding-left: 10px;
      }
      img {
        height: 100px;
      }
      #linkedin {
        background-size: cover;
        border-radius: 3px;
        width: 40px;
        height: 30px;
        cursor: pointer;
      }
      #github {
        color: white;
        background-size: cover;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      #angellist {
        background-size: cover;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}